@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", sans-serif;
  }
body {
    overflow-x: hidden;
}
.filterform-box .MuiInputLabel-root,
.filterform-box `.MuiInputBase-input {
    font-size: 10px !important;
}
 
.pac-container {
    z-index: 2000 !important; /* Set a high z-index to ensure it appears above the modal */
  }